extends layout

block css
  link(rel='stylesheet', href="/node_modules/coralui/build/css/coral.min.css")
  link(rel='stylesheet', href="#{url('style.less')}")

block js
  script(src="/node_modules/coralui/build/js/libs/moment.js")
  script(src="/node_modules/coralui/build/js/coral.min.js")
  script(src="#{url('app.coffee')}")

block molecules
  link(rel="import", href="/molecules/app-seed")

block content
  <app-seed></app-seed>