link(rel="import", href="/bower_components/polymer/polymer.html")

dom-module#app-seed
    template
        link(rel="stylesheet", href="#{url('style.less')}")

        .coral-Well {{greeting}}
        span Update text to change the greeting.
        input(value="{{greeting::input}}")

    script(src="#{url('script.coffee')}")